.carrito {
    height: 100%;
    width: inherit;
}

.carrito .items-carrito {
    height: 89%;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    backdrop-filter: blur(6px);
}

.carrito .total-carrito {
    height: 9%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    backdrop-filter: blur(6px);
}